# Compiled class file
*.class
.idea/
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#dolphin files
.directory

!commons-cli-1.4.jar
!commons-math3-3.4.jar
!jeco.jar
!jeval.jar
!sqlite-jdbc-3.21.0.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Folders
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.idea/libraries/commons_cli_1_4.xml
